<div class="d-flex justify-content-center">
        <div class="login-form d-flex justify-content-center">
            <div class="form-group cont border border-danger">
                <div>
                    <div id="changepass">
                        <h2>RESET PASSWORD</h2>
                        <br>
                        <input id="Opass" type="password" ng-model="oldpass" class="form-control"
                            placeholder="Current PASSWORD">
                        <br>
                        <input id="Npass" type="password" ng-model="newpass " class="form-control"
                            placeholder="NEW PASSWORD">
                        <br>
                        <button class="btn btn-info" id="submit" ng-click="changeSubmit()">Submit</button>
                        <div class="lds-roller" id="reglod">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>