<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
        #tk{
            display: none;
        }
    </style>
</head>
<body>
    <form action="http://localhost:4560/user/upload" class="form-group" enctype="multipart/form-data" method="post">
        <input type="text" id="tk" name="token">
        <input type="file" class="form-control w-50" name="userPhoto" value="Upload Image">
        <button type="submit" id="inp" onclick="up()" class="form-control w-50 btn btn-primary">Submit</button>
    </form>
</body>
<script>
        var user = JSON.parse(localStorage.USER);
        console.log(document.getElementById("tk"));
        document.querySelector("#tk").value = user.token;
        function up(){
            window.alert("File uploaded successfully!!");
            // window.close();
        }
    </script>
</html>