<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test project</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="../assets/loader.css">
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="registerapp.js"></script>
    <script src="../utils/urlconstantregister.js"></script>
    <script src="models.js"></script>
    <script src="registercontroller.js"></script>
</head>

<body ng-app="register">
    <div id="container">
        <header id="header">
            <div class="container">
                <div class="row space">
                    <div class="content row">
                        <div class="h-btn">
                            <a href="../../index.html" class="btn btn-outline-warning" role="button"
                                aria-pressed="true">HOME</a>
                        </div>
                        <div class="h-btn">
                            <a href="../login/login.html" class="btn btn-outline-success" role="button"
                                aria-pressed="true">LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="content" ng-controller="registercontroller">
            <div class="d-flex justify-content-center">
                <div class="login-form d-flex justify-content-center">
                    <div class="form-group cont border border-danger">
                        <div>
                            <h1>REGISTER</h1>
                        </div>
                        <div class="reg-io">
                            <input type="text" id="name" class="form-control" placeholder="NAME" ng-model="name">
                            <input type="text" id="uID" class="form-control" placeholder="USER ID" ng-model="userid">
                            <input type="password" id="uPass" class="form-control" placeholder="PASSWORD" ng-model="password">
                            <button class="btn btn-info" id="submit" type="submit" ng-click="Submitdet()">Register</button>
                            <div class="lds-roller" id="reglod">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>